@charset "utf-8";
@font-face {
    font-family: "nbg";
    src: url(../fonts/NanumBarunGothic.otf) format(opentype);
    font-weight: normal;
}

@font-face {
    font-family: "nbg";
    src: url(../fonts/NanumBarunGothicBold.otf) format(opentype);
    font-weight: bold;
}

html {
    font-family: "nbg";
    font-weight: normal;
    font-size: 10px;
}
